earthengine-api
python-dotenv
geemap
geedim
geopandas
shapely
gcsfs
pandas
rasterio
folium
google-cloud-storage
google-cloud-secret-manager
sentinelhub
scipy
scikit-image
numpy
psycopg2-binary>=2.9.0
sqlalchemy>=1.4.0
